<section class="columns">
  <div class="box column is-half has-background-success-light" >
    <h2 class="title is-3">Login:</h2>
    <form class="login-form">
      <div>
        <label class="label" for="email-login">Email:</label>
        <input class="input is-info mb-2" type="text" id="email-login" />
      </div>
      <div>
        <label class="label" for="password-login">Password:</label>
        <input class="input is-info" type="password" id="password-login" />
      </div>
      <div class="buttons">
        <button class="button is-rounded mt-2 is-large" type="submit">Login!</button>
      </div>
    </form>
  </div>

  <div class="box column is-half ml-5 pr-5 has-background-warning-light	">
    <h2 class="title is-3">Signup:</h2>
    <form class="signup-form">
      <div>
        <label class="label" for="user-signup">Username:</label>
        <input class="input is-info mb-2" type="text" id="user-signup" />
      </div>
      <div>
        <label class="label" for="email-signup">Email:</label>
        <input class="input is-info mb-2" type="text" id="email-signup">
      </div>
      <div>
        <label class="label" for="password-signup">Password:</label>
        <input class="input is-info" type="password" id="password-signup" />
      </div>
      <div class="buttons">
        <button class="button is-rounded mt-2 is-large" type="submit">Sign up!</button>
      </div>
    </form>
  </div>

</section>

<script src="/js/login.js"></script>